

@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Raleway:800,700,400);
@import url(http://fonts.googleapis.com/css?family=Signika:400,600);


/* Styles
---------------------------------*/
body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #888888;
    margin: 0;
}

h2 {
    font-size: 38px;
    color: #222222;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    margin: 0px 0 25px 0;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #222222;
    font-size: 18px;
    margin: 0 0 5px 0;
}

h6 {
    font-size: 16px;
    color: #888888;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 0 0 60px 0;
}

p {
    line-height: 24px;
    margin: 0;
}


/* Top_content
---------------------------------*/

.top_cont_outer {
    background: #ED5441;
    position: relative;
    background: url('../img/main1.jfif') no-repeat;
	background-size: cover;
}

.hero_section {
    position: relative;
    padding-top: 125px;
}
.hero_wrapper {
background: rgba(10, 21, 37, 0.69);
height: 650px;
}
.white_pad {
    position: relative;
    right: 0px;
    bottom: 0px;
}

.white_pad img {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.top_left_cont {
    padding: 110px 0;
}

.top_left_cont h3 {
    font-size: 16px;
    color: #f56eab;
    margin: 0 0 20px 0;
    text-align: left;
    font-weight: 700;
}

.top_left_cont h2 {
    font-size: 40px;
    color: #FFF;
    line-height: 52px;
    margin: 0 0 26px 0;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.top_left_cont h2 strong {
    font-weight: 700;

    color: #12D35E;
}

.top_left_cont p {
font-size: 18px;
color: #FFFFFF;
margin: 0 0 30px 0;
line-height: 33px;
text-align: center;
font-weight: normal;
font-size: 20px;
/* font-weight: 300; */
text-align: center;
letter-spacing: 1px;
}

/* About Us
--------------------------- */

.aboutUs-container {
background-repeat: no-repeat;
background-position: right;
background-size: auto 100%;
background-position-y: 70px;
}
#about-us, h2, h3, h6, p {
color:#A3ACBA;
}
#about-us .read-more{
	border: 1px solid #ED5441;
	color: #1a1a1a;
}

#about-us .read-more:hover{
	background-color: #e74c3c;
	border: 1px solid #e74c3c;
	color: #fff;
}
.about-us-post-container{
	background-repeat: no-repeat;
	background-position: right;
	background-size: auto 100%;
}
.about-us{
	margin-top: 70px;
	margin-bottom: 50px;
}
.about-us h3{
	font-size:28px;
}
.points{
	margin-bottom: 10px;
	font-size:14px;
	padding-left:0px;
}
.about-us p{
	/*font-size: 0.9375em;*/
	line-height: 1.625em;
	padding: 15px 0;
}
.about-us .about-us-list{
	list-style: none;
	margin-bottom: 20px;
	padding-left:0px;
}

.about-us .points{
	position: relative;
	list-style-type: none;
	padding: 5px 0 5px 30px;
}

.about-us .points:before{
	content: "\f058";
	position: absolute;
	font-family: FontAwesome;
	font-size: 1.125em;
	color: #11D25D;
	left: 0px;
	top: 3px;
}

.about-us-link a:first-child{
	margin-left: 0;
}

#aboutUs {
    padding: 60px 0;
    background: #0A1525;
}


@media (max-width: 768px) {
.navStyle {
float: right;
width: auto;
text-align: center;
}
.aboutUs-container{
	background-image:none;
}
p{
font-size:14px;
}
.top_cont_outer {
height: 335px;
}
.hero_section {
position: relative;
padding-top: 10px;
}
.top_left_cont {
padding: 38px 0;
}
.top_left_cont h2 {
font-size: 25px;
color: #FFF;
line-height: 39px;
margin: 0 0 9px 0;
}
.inner_section {
padding: 20px 0 20px;
}
#aboutUs img{
margin-bottom:20px;
}
#aboutUs h3{
font-size:26px;
line-height:22px;
 }
}
